*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Archivo', sans-serif;
}

.item1 { 
  grid-area: logo;
  padding-left: 20%;
}
.item2 { grid-area: niks; }
.item3 { grid-area: header; }
.item4 { 
  grid-area: banner; 
  background-image: url("img/header.jpg");
  width: 100%;
}
.item5 { 
  grid-area: fotoLinks; 
  background-image: url("img/banner-1.jpg");
}
.item6 { 
  grid-area: fotoMidden; 
  background-image: url("img/banner-2.jpg");
}
.item7 { 
  grid-area: fotoRechts; 
  background-image: url("img/banner-3.jpg");
}
.item8 { grid-area: balk; }
.item9 { grid-area: bannerOnder; }
.item10 { 
  grid-area: knopLinks; 
  background-image: url("img/angle-down-solid.svg");
  background-repeat: ;
  width: 50px;
}
.item11 { 
  grid-area: knopMidden; 
  background-image: url("img/toolbox-solid.svg");
  background-repeat: ;
  width: 50px;
}
.item12 { 
  grid-area: knopRechts; 
  background-image: url("img/envelope-regular.svg");
  background-repeat: ;
  width: 50px;
}
.item13 { grid-area: over; }
.item14 { grid-area: contact; }
.item15 { grid-area: footer; }

.grid-container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  height: 100px
  grid-template-areas:
    'logo logo niks niks niks niks'
    'header header header header header header'
    'banner banner banner banner banner banner '
    'fotoLinks fotoLinks fotoMidden fotoMidden fotoRechts fotoRechts'
    'balk balk balk balk balk balk '
    'bannerOnder bannerOnder bannerOnder bannerOnder bannerOnder bannerOnder'
    'knopLinks knopLinks knopMidden knopMidden knopRechts knopRechts'
    'over over over contact contact contact'
    'footer footer footer footer footer footer';
  padding: 10px;
}

ul{
  display: block;
  color: #222931;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  margin-left: 100px;
  padding: 0;
}

li{
  float: left;
}

li a{
    display: block;
    color: #222931;
    text-align: center;
    padding: 43px 18px;
    text-decoration: none;
}

.icons_boven{
  width: 50px;
}

.icons_onder{
  width: 20px;
}